/* Main colors */
:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --main-bg-color: #fff;
  --selection-color: #4d5ae5;
  --secondary-bg-color: #f4f4fd;
}

/* Оформление */
body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* header */

/* LOGO */
.logo {
  color: var(--selection-color);
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.studio {
  color: var(--main-text-color);
}

/* main navigation */
.page-header {
  border-top: none;
  box-shadow: 0px 2px 2px rgba(46, 47, 66, 0.16);
}
.navigation-container {
  display: flex;
  align-items: center;
  border-bottom: 1px;
}

.list {
  display: flex;
}

.navigation-element:not(:last-child) {
  margin-right: 40px;
}
.navigation-list {
  margin-left: 77px;
}
.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-text-color);
  font-weight: 600;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-text-color);
}

.navigation-link:active {
  color: var(--selection-color);
}
.auth-list {
  margin-left: auto;
}
.auth-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--secondary-text-color);
}
.auth-element:not(:last-child) {
  margin-right: 40px;
}

.auth-link:hover,
.auth-link:focus {
  color: var(--selection-color);
}

/* hero main page*/

.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
  color: #ffffff;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin: 0;
  padding: 0;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 600;
  width: 492px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  border: none;
  display: inline-block;
  color: #ffffff;
  background-color: var(--selection-color);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  line-height: 1.19;
  border-radius: 4px;
  padding: 16px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button:active {
  background-color: #404bbf;
}
/* Features section */

.features {
  padding-top: 120px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
  display: flex;
}

.feature-item {
  width: 264px;
}
.feature-item:not(:first-child) {
  margin-left: 24px;
}

.feature-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.icon {
  width: 64px;
  height: 64px;
}
.icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  width: 264px;
  height: 112px;
  margin-bottom: 32px;
}
.feature-text {
  color: var(--secondary-text-color);
  margin-top: 8px;
  margin-bottom: 0;
}

/* Activities section */
.activities {
  padding-top: 120px;
  padding-bottom: 120px;
}

.activities-img {
  
  margin: 0;
  padding: 0;
}
.activities-img:not(:last-child) {
  margin-right: 24px;
}
.activities-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
}
.activities-list {
  display: flex;
  margin-top: 72px;
}
/* Team section */
.team {
  color: var(--main-text-color);
  background-color: #f4f4fd;
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
}

.img-member {
  display: block;
}
.team-member {
  display: block;
 
  background-color: #ffffff;
}
.team-member:not(:first-child) {
  margin-left: 24px;
}
.team-member-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 32px;
}
.team-member-position {
  color: var(--secondary-text-color);
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}
.team-list {
  display: flex;
  margin-top: 72px;
}
.soc-media-cont {
  display: flex;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 36px;
  justify-content: space-around;
}
.soc-media {
  display: flex;
  background-color: var(--selection-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.soc-media-item {
  width: 16px;
  height: 16px;
}
/* Customers */

.customers {

  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
}
.customers-list {
  display: flex;
  margin-top: 72px;
}

.customers-list-element {
  width: 168px;
  height: 88px;
}
.customers-list-element:not(:last-child) {
  margin-right: 24px;
}

.customers-company {
  width: 104px;
  height: 64px;
}
.customers-company {
  fill: currentColor;
}

.customers-link {
  display: flex;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  color: #4d5ae5;
}


/* Footer */


.footer {
  color: #e7e9fc;
  background-color: var(--main-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container{
  display: flex;
}
.studio-footer {
  color: #f4f4fd;
}
.footer-text {
  margin: 0;
  padding: 0;
  width: 264px;
  margin-top: 16px;
margin-right: 120px;
}

.footer-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.soc-footer-list{
  display: flex;
  margin-top: 18.2px;
}
.soc-footer-item{
  width: 40px;
  height: 40px;
  
}
.soc-footer-icon{
  width: 25px;
  height: 25px;
}
.soc-footer-link{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.soc-footer-item:not(:last-child){
  margin-right: 16px;
}



/* Portfolio main page */
/* Filter section */
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
}
.filter-items:not(:last-child) {
  margin-right: 24px;
}
.filter-button {
  margin: 0;
  color: var(--selection-color);
  background-color: #f4f4fd;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--selection-color);
}

/* Elements section */

.elements-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
}
.wrap {
  padding: 32px 16px;
  border: 0.5px solid var(--secondary-bg-color);
  border-top: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.elements-list-piece {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.elements-list-piece:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.elements-list-piece:nth-child(3n) {
  margin-right: 0;
}

.elements-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.elements-text {
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
  margin-top: 8px;
}
